.modal-header {
    background-color: rgb(40, 43, 50);
}

.modal-title {
    color: white;
}

.modal-body {
    background-color: rgb(40, 43, 50);
}

.modal-footer {
    background-color: rgb(40, 43, 50);
}